.header{display: flex;
justify-content: space-between;
color: white;
background-color: black;}
body{background-color: rgb(209, 209, 209);}
.message{display: flex;
justify-content: center;}
.menu{display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;}
.nav::after{
    content: '\2807';
    color: white;
    font-size: 30px;
    margin-right: 10px;
} 
h1{margin-right: 700px;}